In [214]:
import re
import csv

CSV_FILE_NAME = "restaurants.csv"

In [216]:
all_restaurant_record = {}
with open(CSV_FILE_NAME, 'r') as csvfile:
            reader = csv.DictReader(csvfile)
            for row in reader:
                hours = row['Hours'].split("/")
                rest_name = row['Restaurant Name']
                days_pattern = re.compile(r'(Mon|Tues|Wed|Thu|Fri|Sat|Sun)')
                curr_record = {}
                for h in hours:
                    ranged_days = re.search(r'([a-zA-Z]+)-([a-zA-Z]+)', h)
                    if ranged_days:
                        start_day, end_day = ranged_days.groups()
                        filled_in_days = get_missing_days(start_day, end_day)

                        for d in days_pattern.findall(h):
                            if d not in filled_in_days:
                                filled_in_days.append(d)

                        curr_all_days = filled_in_days


                    else:
                        curr_all_days = days_pattern.findall(h)



                    time_begins_at = re.search(r'\d', h).start()
                    time_string = h[time_begins_at:]

                    start_time = convert_to_24_hour_format(time_string.split("-")[0].strip())
                    end_time = convert_to_24_hour_format(time_string.split("-")[1].strip())

                    curr_record.update({day: {"open": start_time, "close": end_time} for day in curr_all_days})
                all_restaurant_record.update({rest_name:curr_record})

In [217]:
all_restaurant_record

{'The Cowfish Sushi Burger Bar': {'Mon': {'open': '11:00:00',
   'close': '22:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'}},
 'Morgan St Food Hall': {'Mon': {'open': '11:00:00', 'close': '21:30:00'},
  'Sun': {'open': '11:00:00', 'close': '21:30:00'}},
 "Beasley's Chicken + Honey": {'Mon': {'open': '11:00:00',
   'close': '12:00:00'},
  'Tues': {'open': '11:00:00', 'close': '12:00:00'},
  'Wed': {'open': '11:00:00', 'close': '12:00:00'},
  'Thu': {'open': '11:00:00', 'close': '12:00:00'},
  'Fri': {'open': '11:00:00', 'close': '12:00:00'},
  'Sat': {'open': '11:00:00', 'close': '12:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'}},
 'Garland': {'Tues': {'open': '11:30:00', 'close': '22:00:00'},
  'Wed': {'open': '11:30:00', 'close': '22:00:00'},
  'Thu': {'open': '11:30:00', 'close': '22:00:00'},
  'Fri': {'open': '11:30:00', 'close': '22:00:00'},
  'Sun': {'open': '11:30:00', 'close': '22:00:00'},
  'Sat': {'open': '17:30:00', 'close': '23:00:00'}},
 'Crawford and Son': {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Sun': {'open': '11:30:00', 'close': '22:00:00'}},
 'Death and Taxes': {'Mon': {'open': '17:00:00', 'close': '22:00:00'},
  'Sun': {'open': '17:00:00', 'close': '22:00:00'}},
 'Caffe Luna': {'Mon': {'open': '11:00:00', 'close': '00:00:00'},
  'Sun': {'open': '11:00:00', 'close': '00:00:00'}},
 'Bida Manda': {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Tues': {'open': '11:30:00', 'close': '22:00:00'},
  'Wed': {'open': '11:30:00', 'close': '22:00:00'},
  'Thu': {'open': '11:30:00', 'close': '22:00:00'},
  'Sun': {'open': '11:30:00', 'close': '22:00:00'},
  'Fri': {'open': '11:30:00', 'close': '23:00:00'},
  'Sat': {'open': '11:30:00', 'close': '23:00:00'}},
 'The Cheesecake Factory': {'Mon': {'open': '11:00:00', 'close': '23:00:00'},
  'Tues': {'open': '11:00:00', 'close': '23:00:00'},
  'Wed': {'open': '11:00:00', 'close': '23:00:00'},
  'Thu': {'open': '11:00:00', 'close': '23:00:00'},
  'Fri': {'open': '11:00:00', 'close': '00:30:00'},
  'Sat': {'open': '11:00:00', 'close': '00:30:00'},
  'Sun': {'open': '10:00:00', 'close': '23:00:00'}},
 'Tupelo Honey': {'Mon': {'open': '09:00:00', 'close': '22:00:00'},
  'Tues': {'open': '09:00:00', 'close': '22:00:00'},
  'Wed': {'open': '09:00:00', 'close': '22:00:00'},
  'Thu': {'open': '09:00:00', 'close': '22:00:00'},
  'Sun': {'open': '09:00:00', 'close': '22:00:00'},
  'Fri': {'open': '09:00:00', 'close': '23:00:00'},
  'Sat': {'open': '09:00:00', 'close': '23:00:00'}},
 "Player's Retreat": {'Mon': {'open': '11:30:00', 'close': '21:30:00'},
  'Tues': {'open': '11:30:00', 'close': '21:30:00'},
  'Wed': {'open': '11:30:00', 'close': '21:30:00'},
  'Thu': {'open': '11:30:00', 'close': '21:30:00'},
  'Sun': {'open': '11:30:00', 'close': '21:30:00'},
  'Fri': {'open': '11:30:00', 'close': '22:00:00'},
  'Sat': {'open': '11:30:00', 'close': '22:00:00'}},
 'Glenwood Grill': {'Mon': {'open': '11:00:00', 'close': '23:00:00'},
  'Tues': {'open': '11:00:00', 'close': '23:00:00'},
  'Wed': {'open': '11:00:00', 'close': '23:00:00'},
  'Thu': {'open': '11:00:00', 'close': '23:00:00'},
  'Fri': {'open': '11:00:00', 'close': '23:00:00'},
  'Sat': {'open': '11:00:00', 'close': '23:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'}},
 'Neomonde': {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Tues': {'open': '11:30:00', 'close': '22:00:00'},
  'Wed': {'open': '11:30:00', 'close': '22:00:00'},
  'Thu': {'open': '11:30:00', 'close': '22:00:00'},
  'Fri': {'open': '11:30:00', 'close': '23:00:00'},
  'Sun': {'open': '11:30:00', 'close': '23:00:00'}},
 'Page Road Grill': {'Mon': {'open': '11:00:00', 'close': '23:00:00'},
  'Sun': {'open': '11:00:00', 'close': '23:00:00'}},
 'Mez Mexican': {'Mon': {'open': '10:30:00', 'close': '21:30:00'},
  'Tues': {'open': '10:30:00', 'close': '21:30:00'},
  'Wed': {'open': '10:30:00', 'close': '21:30:00'},
  'Thu': {'open': '10:30:00', 'close': '21:30:00'},
  'Fri': {'open': '10:30:00', 'close': '21:30:00'},
  'Sat': {'open': '10:00:00', 'close': '21:30:00'},
  'Sun': {'open': '10:00:00', 'close': '21:30:00'}},
 'Saltbox': {'Mon': {'open': '11:30:00', 'close': '22:30:00'},
  'Sun': {'open': '11:30:00', 'close': '22:30:00'}},
 'El Rodeo': {'Mon': {'open': '11:00:00', 'close': '22:30:00'},
  'Sun': {'open': '11:00:00', 'close': '22:30:00'}},
 'Provence': {'Mon': {'open': '11:30:00', 'close': '21:00:00'},
  'Tues': {'open': '11:30:00', 'close': '21:00:00'},
  'Wed': {'open': '11:30:00', 'close': '21:00:00'},
  'Thu': {'open': '11:30:00', 'close': '21:00:00'},
  'Sun': {'open': '11:30:00', 'close': '21:00:00'},
  'Fri': {'open': '11:30:00', 'close': '22:00:00'},
  'Sat': {'open': '11:30:00', 'close': '22:00:00'}},
 'Bonchon': {'Mon': {'open': '17:00:00', 'close': '00:30:00'},
  'Tues': {'open': '17:00:00', 'close': '00:30:00'},
  'Wed': {'open': '17:00:00', 'close': '00:30:00'},
  'Thu': {'open': '17:00:00', 'close': '01:30:00'},
  'Fri': {'open': '17:00:00', 'close': '01:30:00'},
  'Sat': {'open': '15:00:00', 'close': '01:30:00'},
  'Sun': {'open': '15:00:00', 'close': '23:30:00'}},
 'Tazza Kitchen': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'}},
 'Mandolin': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Tues': {'open': '11:00:00', 'close': '22:00:00'},
  'Wed': {'open': '11:00:00', 'close': '22:00:00'},
  'Thu': {'open': '11:00:00', 'close': '22:00:00'},
  'Fri': {'open': '10:00:00', 'close': '22:30:00'},
  'Sat': {'open': '10:00:00', 'close': '22:30:00'},
  'Sun': {'open': '11:00:00', 'close': '23:00:00'}},
 "Mami Nora's": {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Tues': {'open': '11:00:00', 'close': '22:00:00'},
  'Wed': {'open': '11:00:00', 'close': '22:00:00'},
  'Thu': {'open': '11:00:00', 'close': '22:00:00'},
  'Fri': {'open': '11:00:00', 'close': '22:00:00'},
  'Sat': {'open': '11:00:00', 'close': '22:00:00'},
  'Sun': {'open': '12:00:00', 'close': '22:00:00'}},
 'Gravy': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'}},
 'Taverna Agora': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Tues': {'open': '11:00:00', 'close': '22:00:00'},
  'Wed': {'open': '11:00:00', 'close': '22:00:00'},
  'Thu': {'open': '11:00:00', 'close': '22:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'},
  'Fri': {'open': '11:00:00', 'close': '00:00:00'},
  'Sat': {'open': '11:00:00', 'close': '00:00:00'}},
 'Char Grill': {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Tues': {'open': '11:30:00', 'close': '22:00:00'},
  'Wed': {'open': '11:30:00', 'close': '22:00:00'},
  'Thu': {'open': '11:30:00', 'close': '22:00:00'},
  'Fri': {'open': '11:30:00', 'close': '22:00:00'},
  'Sat': {'open': '07:00:00', 'close': '15:00:00'},
  'Sun': {'open': '07:00:00', 'close': '15:00:00'}},
 'Seoul 116': {'Mon': {'open': '11:00:00', 'close': '04:00:00'},
  'Sun': {'open': '11:00:00', 'close': '04:00:00'}},
 'Whiskey Kitchen': {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Tues': {'open': '11:30:00', 'close': '22:00:00'},
  'Wed': {'open': '11:30:00', 'close': '22:00:00'},
  'Thu': {'open': '11:30:00', 'close': '22:00:00'},
  'Sun': {'open': '11:30:00', 'close': '22:00:00'},
  'Fri': {'open': '11:30:00', 'close': '23:00:00'},
  'Sat': {'open': '11:30:00', 'close': '23:00:00'}},
 'Sitti': {'Mon': {'open': '11:30:00', 'close': '21:30:00'},
  'Sun': {'open': '11:30:00', 'close': '21:30:00'}},
 'Stanbury': {'Mon': {'open': '11:00:00', 'close': '00:00:00'},
  'Sun': {'open': '11:00:00', 'close': '00:00:00'}},
 'Yard House': {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Sun': {'open': '11:30:00', 'close': '22:00:00'}},
 "David's Dumpling": {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Tues': {'open': '11:30:00', 'close': '22:00:00'},
  'Wed': {'open': '11:30:00', 'close': '22:00:00'},
  'Thu': {'open': '11:30:00', 'close': '22:00:00'},
  'Fri': {'open': '11:30:00', 'close': '22:00:00'},
  'Sat': {'open': '11:30:00', 'close': '22:00:00'},
  'Sun': {'open': '17:30:00', 'close': '22:00:00'}},
 'Gringo a Gogo': {'Mon': {'open': '11:00:00', 'close': '23:00:00'},
  'Sun': {'open': '11:00:00', 'close': '23:00:00'}},
 'Centro': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Wed': {'open': '11:00:00', 'close': '22:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'}},
 'Brewery Bhavana': {'Mon': {'open': '11:00:00', 'close': '22:30:00'},
  'Sun': {'open': '11:00:00', 'close': '22:30:00'}},
 'Dashi': {'Mon': {'open': '10:00:00', 'close': '21:30:00'},
  'Tues': {'open': '10:00:00', 'close': '21:30:00'},
  'Wed': {'open': '10:00:00', 'close': '21:30:00'},
  'Thu': {'open': '10:00:00', 'close': '21:30:00'},
  'Fri': {'open': '10:00:00', 'close': '21:30:00'},
  'Sat': {'open': '09:30:00', 'close': '21:30:00'},
  'Sun': {'open': '09:30:00', 'close': '21:30:00'}},
 '42nd Street Oyster Bar': {'Mon': {'open': '11:00:00', 'close': '00:00:00'},
  'Tues': {'open': '11:00:00', 'close': '00:00:00'},
  'Wed': {'open': '11:00:00', 'close': '00:00:00'},
  'Thu': {'open': '11:00:00', 'close': '00:00:00'},
  'Fri': {'open': '11:00:00', 'close': '00:00:00'},
  'Sat': {'open': '11:00:00', 'close': '00:00:00'},
  'Sun': {'open': '12:00:00', 'close': '02:00:00'}},
 'Top of the Hill': {'Mon': {'open': '11:00:00', 'close': '21:00:00'},
  'Tues': {'open': '11:00:00', 'close': '21:00:00'},
  'Wed': {'open': '11:00:00', 'close': '21:00:00'},
  'Thu': {'open': '11:00:00', 'close': '21:00:00'},
  'Fri': {'open': '11:00:00', 'close': '21:00:00'},
  'Sat': {'open': '17:00:00', 'close': '21:00:00'}},
 'Jose and Sons': {'Mon': {'open': '11:30:00', 'close': '22:00:00'},
  'Tues': {'open': '11:30:00', 'close': '22:00:00'},
  'Wed': {'open': '11:30:00', 'close': '22:00:00'},
  'Thu': {'open': '11:30:00', 'close': '22:00:00'},
  'Fri': {'open': '11:30:00', 'close': '22:00:00'},
  'Sat': {'open': '17:30:00', 'close': '22:00:00'}},
 'Oakleaf': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Tues': {'open': '11:00:00', 'close': '22:00:00'},
  'Wed': {'open': '11:00:00', 'close': '22:00:00'},
  'Thu': {'open': '11:00:00', 'close': '22:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'},
  'Fri': {'open': '11:00:00', 'close': '23:00:00'},
  'Sat': {'open': '11:00:00', 'close': '23:00:00'}},
 'Second Empire': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Tues': {'open': '11:00:00', 'close': '22:00:00'},
  'Wed': {'open': '11:00:00', 'close': '22:00:00'},
  'Thu': {'open': '11:00:00', 'close': '22:00:00'},
  'Fri': {'open': '11:00:00', 'close': '22:00:00'},
  'Sat': {'open': '17:00:00', 'close': '22:00:00'},
  'Sun': {'open': '17:00:00', 'close': '22:00:00'}}}

In [8]:
from datetime import datetime, timedelta

In [11]:
row = "The Cheesecake Factory","Mon-Thu 11 am - 11 pm  / Fri-Sat 11 am - 12:30 am  / Sun 10 am - 11 pm"

In [15]:
row = {'Restaurant Name': "The Cheesecake Factory", 'Hours': 'Mon-Thu 11 am - 11 pm  / Fri-Sat 11 am - 12:30 am  / Sun 10 am - 11 pm'}

In [18]:
open_hours = {}

In [23]:
for h in row['Hours'].split("/"):
    print(h.strip())
    print(h.strip().split(" "))

Mon-Thu 11 am - 11 pm
['Mon-Thu', '11', 'am', '-', '11', 'pm']
Fri-Sat 11 am - 12:30 am
['Fri-Sat', '11', 'am', '-', '12:30', 'am']
Sun 10 am - 11 pm
['Sun', '10', 'am', '-', '11', 'pm']

In [38]:
all_days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [50]:
days_pattern = re.compile(r'(Mon|Tue|Wed|Thu|Fri|Sat|Sun)')
time_pattern = re.compile(r'(\d{1,2}:\d{2} [apm. ]{2}) - (\d{1,2}:\d{2} [apm. ]{2})')


opening_hours = {}

# Split the string by '/'
periods = row['Hours'].split('/')

for period in periods:
    print(period)
    days_match = days_pattern.findall(period)
    time_match = time_pattern.findall(period)
    
    print(days_match)
    break


#     if days_match and time_match:
#         for day in days_match:
#             opening_hours[day] = time_match

Mon-Thu 11 am - 11 pm
['Mon', 'Thu']

In [42]:
days_match

['Mon', 'Thu']

In [53]:
opening_hours_pattern = re.compile(r'\b(\d{1,2}:\d{2}\s*[apm. ]{0,2})\s*-\s*(\d{1,2}:\d{2}\s*[apm. ]{0,2})\b')

# Example usage:
time_range_string = 'Mon-Thu 11 am - 11 pm '
match = opening_hours_pattern.match(time_range_string)

In [54]:
match

In [45]:
if len(days_match) > 1:
    start_index = all_days.index(days_match[0])
    end_index = all_days.index(days_match[1])
    day_range = all_days[start_index:end_index + 1]
    for d in day_range:

In [46]:
day_range

['Mon', 'Tue', 'Wed', 'Thu']

In [33]:
days_pattern.findall(periods[0])

['Mon', 'Thu']

In [34]:
for period in periods:
    days_match = days_pattern.findall(period)
    time_match = time_pattern.findall(period)

    if days_match and time_match:
        for day in days_match:
            opening_hours[day] = time_match

In [35]:
opening_hours

{'Fri': ['12:30 am'], 'Sat': ['12:30 am']}

In [57]:
import pandas as pd

In [59]:
data = pd.read_csv('restaurants.csv')

In [61]:
data['Hours']

0                              Mon-Sun 11:00 am - 10 pm
1                               Mon-Sun 11 am - 9:30 pm
2       Mon-Fri, Sat 11 am - 12 pm  / Sun 11 am - 10 pm
3     Tues-Fri, Sun 11:30 am - 10 pm  / Sat 5:30 pm ...
4                              Mon-Sun 11:30 am - 10 pm
5                                  Mon-Sun 5 pm - 10 pm
6                                 Mon-Sun 11 am - 12 am
7     Mon-Thu, Sun 11:30 am - 10 pm  / Fri-Sat 11:30...
8     Mon-Thu 11 am - 11 pm  / Fri-Sat 11 am - 12:30...
9     Mon-Thu, Sun 9 am - 10 pm  / Fri-Sat 9 am - 11 pm
10    Mon-Thu, Sun 11:30 am - 9:30 pm  / Fri-Sat 11:...
11           Mon-Sat 11 am - 11 pm  / Sun 11 am - 10 pm
12    Mon-Thu 11:30 am - 10 pm  / Fri-Sun 11:30 am -...
13                                Mon-Sun 11 am - 11 pm
14    Mon-Fri 10:30 am - 9:30 pm  / Sat-Sun 10 am - ...
15                          Mon-Sun 11:30 am - 10:30 pm
16                             Mon-Sun 11 am - 10:30 pm
17    Mon-Thu, Sun 11:30 am - 9 pm  / Fri-Sat 11:30 ...
18    Mon-Wed 5 pm - 12:30 am  / Thu-Fri 5 pm - 1:30...
19                                Mon-Sun 11 am - 10 pm
20    Mon-Thu 11 am - 10 pm  / Fri-Sat 10 am - 10:30...
21           Mon-Sat 11 am - 10 pm  / Sun 12 pm - 10 pm
22                                Mon-Sun 11 am - 10 pm
23    Mon-Thu, Sun 11 am - 10 pm  / Fri-Sat 11 am - ...
24      Mon-Fri 11:30 am - 10 pm  / Sat-Sun 7 am - 3 pm
25                                 Mon-Sun 11 am - 4 am
26    Mon-Thu, Sun 11:30 am - 10 pm  / Fri-Sat 11:30...
27                           Mon-Sun 11:30 am - 9:30 pm
28                                Mon-Sun 11 am - 12 am
29                             Mon-Sun 11:30 am - 10 pm
30      Mon-Sat 11:30 am - 10 pm  / Sun 5:30 pm - 10 pm
31                                Mon-Sun 11 am - 11 pm
32                           Mon, Wed-Sun 11 am - 10 pm
33                             Mon-Sun 11 am - 10:30 pm
34    Mon-Fri 10 am - 9:30 pm  / Sat-Sun 9:30 am - 9...
35            Mon-Sat 11 am - 12 am  / Sun 12 pm - 2 am
36              Mon-Fri 11 am - 9 pm  / Sat 5 pm - 9 pm
37      Mon-Fri 11:30 am - 10 pm  / Sat 5:30 pm - 10 pm
38    Mon-Thu, Sun 11 am - 10 pm  / Fri-Sat 11 am - ...
39        Mon-Fri 11 am - 10 pm  / Sat-Sun 5 pm - 10 pm
Name: Hours, dtype: object

In [204]:
row = data['Restaurant Name'][23]

In [207]:
rest_name = row

In [205]:
row

'Taverna Agora'

In [202]:
hours = row.split("/")
rest_name = row

all_restaurant_record = {}
days_pattern = re.compile(r'(Mon|Tues|Wed|Thu|Fri|Sat|Sun)')
curr_record = {}
for h in hours:
    ranged_days = re.search(r'([a-zA-Z]+)-([a-zA-Z]+)', h)
    if ranged_days:
        start_day, end_day = ranged_days.groups()
        filled_in_days = get_missing_days(start_day, end_day)
        
        for d in days_pattern.findall(h):
            if d not in filled_in_days:
                filled_in_days.append(d)
                
        curr_all_days = filled_in_days
        
        
    else:
        curr_all_days = days_pattern.findall(h)
             
    
    
    time_begins_at = re.search(r'\d', h).start()
    time_string = h[time_begins_at:]
    
    start_time = convert_to_24_hour_format(time_string.split("-")[0].strip())
    end_time = convert_to_24_hour_format(time_string.split("-")[1].strip())

    curr_record.update({day: {"open": start_time, "close": end_time} for day in curr_all_days})
all_restaurant_record.update({rest_name:curr_record})

{'Mon': {'open': '11:00:00', 'close': '22:00:00'}, 'Tues': {'open': '11:00:00', 'close': '22:00:00'}, 'Wed': {'open': '11:00:00', 'close': '22:00:00'}, 'Thu': {'open': '11:00:00', 'close': '22:00:00'}, 'Sun': {'open': '11:00:00', 'close': '22:00:00'}, 'Fri': {'open': '11:00:00', 'close': '00:00:00'}, 'Sat': {'open': '11:00:00', 'close': '00:00:00'}}

In [213]:
all_restaurant_record

{'Taverna Agora': {'Mon': {'open': '11:00:00', 'close': '22:00:00'},
  'Tues': {'open': '11:00:00', 'close': '22:00:00'},
  'Wed': {'open': '11:00:00', 'close': '22:00:00'},
  'Thu': {'open': '11:00:00', 'close': '22:00:00'},
  'Sun': {'open': '11:00:00', 'close': '22:00:00'},
  'Fri': {'open': '11:00:00', 'close': '00:00:00'},
  'Sat': {'open': '11:00:00', 'close': '00:00:00'}}}

In [194]:
d = ['Mon', 'Tues', 'Wed', 'Thu', 'Sun']
open_time = '11:00:00'
close_time = '19:00:00'

{'Mon': {'open': '11:00:00', 'close': '19:00:00'},
 'Tues': {'open': '11:00:00', 'close': '19:00:00'},
 'Wed': {'open': '11:00:00', 'close': '19:00:00'},
 'Thu': {'open': '11:00:00', 'close': '19:00:00'},
 'Sun': {'open': '11:00:00', 'close': '19:00:00'}}

In [196]:
record = {}

In [197]:
record.update({day: {"open": open_time, "close": close_time} for day in d})

In [198]:
record

{'Mon': {'open': '11:00:00', 'close': '19:00:00'},
 'Tues': {'open': '11:00:00', 'close': '19:00:00'},
 'Wed': {'open': '11:00:00', 'close': '19:00:00'},
 'Thu': {'open': '11:00:00', 'close': '19:00:00'},
 'Sun': {'open': '11:00:00', 'close': '19:00:00'}}

In [166]:
def convert_to_24_hour_format(original_time):
    
 
    am_pm_mapping = {'am': 'AM', 'pm': 'PM'}

    if ":" in original_time:
        
        updated_time = datetime.strptime(original_time, '%I:%M %p')
    else:
        updated_time = datetime.strptime(original_time, '%I %p')

    updated_time_24h = updated_time.strftime('%H:%M:%S')


    return updated_time_24h

In [157]:
all_days = ['Sun', 'Mon', 'Tues', 'Wed', 'Thu', 'Fri', 'Sat']
def get_missing_days(start_day, end_day):
    start_index = all_days.index(start_day)
    end_index = all_days.index(end_day)
    day_range = all_days[start_index:end_index + 1]
    return day_range

In [120]:
pattern = re.compile(r'(\d{1,2}:\d{2} [apmAPM]+) - (\d{1,2}:\d{2} [apmAPM]+)')

In [124]:
match = re.search(r'\d','Tues-Fri, Sun 11:30 am - 10 pm' )
h[match.start():]

In [164]:
convert_to_24_hour_format("11:30 am ".strip())

11:30 am

'11:30:00'

In [162]:
time_string.split("-")[0]

'11:30 am '

In [94]:
import re

def replace_range_with_days(original_string):
    # Define the days of the week
    all_days = ['Mon', 'Tues', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

    # Extract the day range from the original string using regex
    match = re.search(r'([a-zA-Z]+)-([a-zA-Z]+)', original_string)

    if match:
        start_day, end_day = match.groups()

        # Generate the list of days in between
        days_in_between = [day for day in all_days if start_day <= day <= end_day]

        # Replace the original string with the list of days
        new_string = original_string.replace(match.group(), ', '.join(days_in_between))

        return new_string
    else:
        return "No day range found in the original string."

# Example usage
original_string = "Tues-Sun"
result = replace_range_with_days(original_string)
print(result)

In [99]:
match = re.search(r'([a-zA-Z]+)-([a-zA-Z]+)', 'Mon-Thu, Sun 11 am - 10 pm')
start_day, end_day = match.groups()
match.groups()

('Mon', 'Thu')

In [170]:
a = [1,2,3]

In [173]:
a.insert([4,5,6])

TypeError: insert expected 2 arguments, got 1

In [172]:
a

[1, 2, 3, [4, 5, 6]]

In [243]:
def get_open_restaurants(dt):
    """Query the database for open restaurants based on the provided datetime."""
    conn = sqlite3.connect("restaurant_data.db")
    c = conn.cursor()

    day_of_week = dt.strftime('%a').lower()
    current_time = dt.strftime('%I:%M %p').lstrip('0').lower()

    query = f"SELECT restaurant_name FROM restaurant_hours WHERE {day_of_week} IS NOT NULL AND {day_of_week} LIKE '%' || SUBSTR({day_of_week}, 1, INSTR({day_of_week}, '-') - 1) || '%' AND SUBSTR({day_of_week}, INSTR({day_of_week}, '-') + 1) > '{current_time}'"

    c.execute(query)
    result = c.fetchall()

    conn.close()

    return [row[0] for row in result]

In [304]:
datetime_param = "2023-12-24 00:30:00"
dt = datetime.strptime(datetime_param, '%Y-%m-%d %H:%M:%S')

In [305]:
day_of_week = dt.strftime('%a').lower()
current_time = dt.strftime('%H:%M:%S').lstrip('0').lower()
day_before = (dt - timedelta(days=1)).strftime('%a').lower()

In [322]:
if current_time.startswith(":"):
    current_time = '00:' + current_time[1:]

In [324]:
current_time

'00:30:00'

In [325]:
normal_ = ''' select distinct(restaurant_name) from restaurant_hours where 
            LOWER(SUBSTR(day_of_week, 1, 3)) 
            = "{}" and time("{}") BETWEEN TIME(open_time) AND TIME(close_time);'''.format(day_of_week, current_time)

In [326]:
conn = sqlite3.connect("restaurant_data.db")
c = conn.cursor()
c.execute(normal_)

In [327]:
res_1 = c.fetchall()

In [328]:
res_1

[]

In [329]:
later_midnight = ''' SELECT  * from restaurant_hours where LOWER(SUBSTR(day_of_week, 1, 3))  = "{}" and TIME(close_time) < TIME(open_time) and TIME(close_time) <> "00:00:00" and TIME(close_time) > TIME("{}") '''.format(day_before, current_time)

In [330]:
conn = sqlite3.connect("restaurant_data.db")
c = conn.cursor()
c.execute(later_midnight)

In [331]:
res_2 = c.fetchall()

In [332]:
res_2

[(90, 'Bonchon', 'Sat', '15:00:00', '01:30:00'),
 (282, 'Bonchon', 'Sat', '15:00:00', '01:30:00')]

In [317]:
later_midnight

' SELECT  * from restaurant_hours where LOWER(SUBSTR(day_of_week, 1, 3))  = "sat" and TIME(close_time) < TIME(open_time) and TIME(close_time) <> "00:00:00" and TIME(close_time) > TIME(":30:00") '

In [287]:
normal_

' select distinct(restaurant_name) from restaurant_hours where \n            LOWER(SUBSTR(day_of_week, 1, 3)) \n            = fri and time(12:00:00) BETWEEN TIME(open_time) AND TIME(close_time);'